<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #549E39;">
    <a class="navbar-brand" href="#">Django Custom User and Custom Dedecorator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'justAdmin' %}">Just Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'justEditor' %}">Just Editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'adminOrEditor' %}">Admin or Editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>